name: A simple test workflow
on: [push]

jobs:
  SayHello:
    runs-on: ubuntu-latest

    steps:
      - run: "echo 'Running tests on: ${{ runner.os }}'"
      - run: "echo 'Repo: ${{ github.repository }}'"
      - run: "echo 'Branch: ${{ github.ref }}'"

code-checks:
  runs-on: ubuntu-latest

  steps:
    - name: Checkout the code
      uses: actions/checkout@v5

    - name: Install pixi
      uses: prefix-dev/setup-pixi@v0.9.3
        with:
         pixi-version: v0.62.2 # good to pin this since pixi is not 1.0 yet!

    - name: look for syntax errors
      run: pixi run pytest

unit-tests:
  runs-on: ubuntu-latest
  needs: code-checks # don't bother running tests if code-checks fails.

  steps:
    - name: Checkout the code
      uses: actions/checkout@v6

    - name: Install pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.62.2 # good to pin this since pixi is not 1.0 yet!

    - name: Run unit tests
      run: pixi run -e test pytest
